config BOARD_THINGY91V2_NRF5340_CPUAPP
	bool "nRF5340_APP THINGY91V2"
	depends on SOC_NRF5340_CPUAPP_QKAA

config BOARD_THINGY91V2_NRF5340_CPUAPP_NS
	bool "nRF5340_APP THINGY91V2"
	depends on SOC_NRF5340_CPUAPP_QKAA

config BOARD_THINGY91V2_NRF5340_CPUNET
	bool "nRF5340_NET THINGY91V2"
	depends on SOC_NRF5340_CPUNET_QKAA
